:root {
  --primary: #d71e5b;
  --secondary: #84dd9e;
  --light: #eee;
  --light-alt: #efe;
  --dark: #131a25;
  --dark-alt: #27292c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

.logo {
  color: var(--light);
  font-size: 20px;
  font-weight: 800;
}

.nav-bar {
  background-color: var(--dark-alt);
  display: flex;
  position: fixed;
  top: 0;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  color: var(--light);
  font-size: 18px;
  cursor: pointer;
}

.nav-item span {
  margin: 0 15px;
}

.nav-item span:hover {
  color: var(--primary);
  transition: 0.3s;
}
