:root {
  --primary: #d71e5b;
  --secondary: #84dd9e;
  --light: #eee;
  --light-alt: #efe;
  --dark: #131a25;
  --dark-alt: #27292c;
  --light-blue: #3498db;
  --footer: #4267B2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}


.logo {
  color: var(--light);
  font-size: 20px;
  font-weight: 800;
  margin-left: 30px;
  text-decoration: none;
  color: var(--secondary);
}

header {
  background-color: var(--dark-alt);
  display: flex;
  position: sticky;
  overflow: hidden;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.nav-item {
  display: flex;
  list-style-type: none;
}

.nav-item a {
  margin: 0 15px;
}

.nav-item a:hover {
  color: var(--primary);
  transition: 0.3s;
}

.nav-link {
  text-decoration: none;
  color: var(--light);
}

/* heading */
.heading-section {
  height: 350px;
  padding: 50px;
  background: var(--dark-alt);
  color: var(--light);
}

.bold-text {
  font-size: 40px;
}

.p-text {
  margin-top: 25px;
}

.header-button-section {
  margin-top: 25px;
}

.header-btn {
  background: var(--primary);
  color: var(--light);
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.header-btn:hover {
  background: var(--secondary);
  color: inherit;
}

/* Blog styling */

.blog-container {
  margin: auto;
  padding: 20px 30px;
  /* width: 100%; */
  max-width: 35rem;
  border-radius: 10px;
  border: 2px var(--primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog-header-text {
  text-align: center;
  font-weight: 600;
}

.blog-card{
  border: 2px solid var(--light);
  box-shadow: 2px 2px 0px 2px var(--light);
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}

.blog-title {
  padding: 15px;
}

.blog-content {
  background-color: var(--light-alt);
  font-size: 18px;
  padding: 10px 15px;
}

.blog-author {
  font-weight: 700;
  padding: 15px;
}

.blog-comment {
  text-align: right;
}

.comment-btn {
  border: none;
  cursor: pointer;
  background-color: var(--light);
  color: var(--primary);
}

/* for form section */
.form-section {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-heading {
  text-align: center;
  font-size: 30px;
  color: var(--dark);
  margin-top: 5px;
}

.form-container {
  width: 70%;
  padding: 20px;
  background-color: var(--dark);
  margin: auto;
}

.form-container .form-input {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  outline: none;
}

.form-container .form-input-content{
  width: 100%;
  border-radius: 5px;
  resize: none;
  padding: 12px;
  height: 300px;
  font-size: 16px;
  margin-top: 2px;
}

.form-submit-container {
  text-align: center;
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  background-color: var(--secondary);
}

.submit-btn:hover {
  background-color: var(--primary);
  cursor: pointer;
}

/* for comment section */
.comment-btn {
    border-radius: 10px;
    padding: 5px 5px;
    margin: 12px;
}
.comment-btn:hover {
    color: var(--secondary);
    transition: 0.5s;
}

.comment-content {
  background: var(--dark);
  color: var(--light);
  padding: 5px;
}

.active{
    display: block;
}
.not-active{
    display: none;
}

.post-comment {
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 0px 2px;
}

.post-btn {
    padding: 5px;
    margin: 2px;
    font-weight: 600;
}

/* error message */

.error-message {
  text-align: center;
  color: red;
}

/* footer */
.footer-container {
  background: var(--light);
  color: var(--dark-alt);
  height: 50px;
  position: sticky;
  /* bottom: 0; */
  left: 0;
  width: 100%;
}

.footer {
  text-align: center;
}

.footer-item {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 800;
  cursor: pointer;
  color: var(--footer);
}

.footer-item :hover {
  color: var(--primary);
  transition: 00.3s;
}

/* media query */

/* @media (min-width: 200px) and (max-width: 480px) {
  .blog-container {
    max-width: 20rem;
  }
} */